TELETRIAGE_API_HOST=
TELETRIAGE_API_PORT=
TELETRIAGE_API_BASE_URL=
TELETRIAGE_STREAMLIT_HOST=
TELETRIAGE_STREAMLIT_PORT=

TELETRIAGE_EMERGENCY_PHONE=
TELETRIAGE_ADMIN_USER=
TELETRIAGE_ADMIN_PASS=

TELETRIAGE_AUTO_REFRESH_SECONDS=
TELETRIAGE_GPS_PUSH_SECONDS=
TELETRIAGE_VIDEO_CALL_BASE_URL=
TELETRIAGE_VIDEO_CALL_PREFIX=
